.container{
    width: 60%;
    margin: auto;
}

.masthead{
    margin-bottom: 2em;
}

.plus {
    width: 1vw;

}

.heroImg{
    width:100%
}

.ImgBlock {
    width:100%;
}

.Img {
    width:100%;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
}

.pullQuote {
    width:75%;
    margin: auto;
    padding-left: 1vw;
    border-left: 1vw solid blue;
}

.quoteText {
    font-size: 2em;
}