@use 'base';
$element-margin-bottom__smartphone: 0.4em;
$element-margin-bottom__tablet: 0.4em;

$west-blue: #053de1;

header {
    h1 {
       font-size: 2em; 
       font-weight: normal;
       margin-bottom: $element-margin-bottom__smartphone;
    }
    margin-bottom: $element-margin-bottom__smartphone;
}

#plus {
    width: 0.75em;
}

#hero-block, hr, article p  {
    margin-bottom: $element-margin-bottom__smartphone;
}

#hero-block__img, .inline-block, .inline-block_img {
    width:100%;
    margin-bottom: $element-margin-bottom__smartphone;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
}

.pull-quote {
    width:75%;
    margin: auto;
    padding-left: 1vw;
    border-left: 1vw solid $west-blue;
    margin-bottom: $element-margin-bottom__smartphone;
}

.pull-quote__text {
    font-size: 2em;
}

/*View for tablet*/
@media (min-width: 479px) {
    article {
        p, .pull-quote {
            margin-bottom: $element-margin-bottom__tablet;
        }
    }
}
