$west-blue: #053de1;
$element-margin-bottom: 1.5em;

* {
    padding:0;
    margin: 0;
}


#container{
    width: 95%;
    margin: auto;
}

#masthead{
    margin-bottom: $element-margin-bottom;
}

.lead-story {
    margin-bottom: $element-margin-bottom;

    a, a:visited{
        text-decoration: none;
    color: black;
    }

    :hover .story-tile__headline{
        color: $west-blue;
    }

    h2 {
        font-size: 2em;
    }
    img  {
        width: 100%;
    }
}

.other-story {
    margin-bottom: $element-margin-bottom;
    overflow: auto;

    a, a:visited{
        text-decoration: none;
    color: black;
    }

    :hover .story-tile__headline{
        color: $west-blue;
    }

    h2 {
        font-size: 1em;
        float: right;
        width: 60%
    }

    p {
        float: right;
        width: 60%;
        /* display: none; */
    }

    img  {
        float: left;
        width: 39%;
    }
}

#plus {
    width: 1vw;

}

#hero-img{
    width:100%
}

.inline-img-block {
    width:100%;
}

.inline-img {
    width:100%;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
}

.pull-quote {
    width:75%;
    margin: auto;
    padding-left: 1vw;
    border-left: 1vw solid $west-blue;
}

.pull-quote__text {
    font-size: 2em;
}

/*View for tablet*/
@media (min-width: 479px) {
    #home-collection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .lead-story {
        grid-column-start: 1;
        grid-column-end: 4;

        h2 {
            float: left;
            width: 38%;
            font-size: 2.25em;
        }

        p {
            float: left;
            width: 38%;
        }

        img {
            float: right;
            width: 60%;
        }
    }

    .other-story {

        h2 {
            font-size: 1.25em;
            float: none;
            width: 100%;
        }

        p {
            float: none;
            width: 100%;
        }

        img {
            float: none;
            width: 100%;
        }    
    }
}

/*View for desktop*/
@media (min-width: 1000px) {
    #container{
        width: 60%;
    }
}